<body>
  <header>
      <nav>
        <h1><%= page %></h1>
        <img id="open-menu" src="img/menu-icon.svg" alt="Menu icon">
        <ul id="menu">
          <li><img id="close-menu" src="img/close-icon.svg" alt="Close menu icon"></li>
          <li>Menu</li>
          <li><a href="/statistics">Statistics</a></li>
          <li><a href="/add-session">Add session</a></li>
          <li><a href="/gear">Gear settings</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/account">Account</a></li>
          <li><a href="/sign-out">Log out</a></li>
        </ul>
      </nav>
    </header>