<% include ../partials/head %>

<% include ../partials/small-nav %>

<main>
  <section>
    <h1>Error!</h1>
    <p><%= msg %></p>
    <a href="#" onclick="event.preventDefault(); window.history.back();">Go back</a>
  </section>
</main>

<% include ../partials/tail %>
