<% include ../partials/head %>

<% include ../partials/small-nav %>

<body>
  <main class="main--small">
    <section>
      <form action="/sign-in" method="post">
        <fieldset>
          <div class="field field--first">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
          </div>
          
          <div class="field">
            <label for="passwd">Password</label>
            <input type="password" name="password" id="password" required>
          </div>
        </fieldset>

        <% include ../partials/form/submitForm %>
      </form>
    </section>

    <section>
      <p>Don't have an account? Sign up <a href="/register">here</a></p>
    </section>
  </main>
</body>

<% include ../partials/tail %>
