<% include ../partials/head %>

<% include ../partials/small-nav %>

<main>
  <section>
    <form action="/sign-up" method="post">
      <fieldset>
        <div class="field field--first">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" required>
        </div>
        
        <div class="field">
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email" required>
        </div>

        <div class="field">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" min="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
        </div>
        
        <div class="field">
          <label for="repeat-password">Repeat password</label>
          <input type="password" name="repeat-password" id="repeat-password" min="8" required>
        </div>
      </fieldset>

      <% include ../partials/form/submitForm %>
    </form>
  </section>

  <section id="error">

  </section>
</main>

<script src="./js/register.js" type="module"></script>

<% include ../partials/tail %>
