<% include ../partials/head %>

<% include ../partials/small-nav %>

<main class="main--medium">
  <section>
    <p>Only the first entry of every category is required</p>

    <form action="/set-gear" method="post" class="form--gear">
      <%# <h2>Enter your boards</h2>       %>
      
      <%- include('../partials/form/gear', { gear: 'board', amount: 5, placeholder: 'Fanatic Gecko 120' }) %>

      <%# <h2>Enter your sails</h2> %>
      <%- include('../partials/form/gear', { gear: 'sail', amount: 10, placeholder: '3.5' }) %>

      <%# <h2>Enter the spots you sail at</h2> %>
      <%- include('../partials/form/gear', { gear: 'spot', amount: 5, placeholder: 'maui_honolua_bay' }) %>

      <% include ../partials/form/submitForm %>
    </form>
  </section>
</main>

<script src="./js/gear.js" type="module"></script>

<% include ../partials/tail %>