<% include ../partials/head %>

<% include ../partials/nav %>

<main class="main--medium">
  <section>
    <form>
      <fieldset>
        <div class="field field--first">
          <label for="select-chart">Select different dataset</label>
          <select name="select-chart" id="select-chart">
            <option value="sessions" selected>Amount of sessions</option>
            <option value="sails">Sail usage</option>
            <option value="boards">Board usage</option>
            <option value="spots">Spot visits</option>
          </select>
        </div>
      </fieldset>
    </form>
  </section>

  <section id="chart-section">
    <form>
      <fieldset>
        <div class="field field--first">
          <label for="select-year">Select year</label>
          <select id="select-year" name="select-year"></select>
        </div>
      </fieldset>
    </form>

    <p>Amount of sessions: <span id="session-amount">0</span></p>

    <div style="height: 75vh;">
      <canvas id="chart">
        <p>A chart will be rendered in here</p>
      </canvas>
    </div>
    
  </section>

  <section>
    <a href="/all-stats" class="button button--small">All statistics</a>
    <button id="download-csv" class="button--small" type="button" name="button">Download csv</button>
    <button id="download-json" class="button--small" type="button" name="button">Download json</button>
  </section>
</main>

<script src="./js/download.js"></script>
<script src="./js/Chart.bundle.min.js"></script>
<script src="./js/statistics.js" type="module"></script>

<% include ../partials/tail %>
