<% include ../partials/head %>

<% include ../partials/nav %>

<main>
  <section>
    <p>Amount of sessions: <span id="session-amount">0</span></p>
  </section>

  <section>
    <form>
      <fieldset>
        <div class="field field--first">
          <label for="select-year">Select year</label>
          <select id="select-year" name="select-year"></select>
        </div>
      </fieldset>
    </form>

    <canvas id="chart">
        <p>A chart will be rendered in here</p>
      </canvas>
  </section>
</main>

<script src="./js/Chart.bundle.min.js"></script>
<script src="./js/statistics.js" type="module"></script>

<% include ../partials/tail %>
