@media (min-width: 800px) {
  header {
    padding: 16px;
    margin-bottom: 32px;
  }

  main, .center-content, header {
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    grid-column-gap: 32px;

    h1, h3, form, nav {
      grid-column: 2 / 2;
    }
  }

  .center-content {
    * {
      grid-column: 2 / 2;
    }
  }

  .col-2 {
    grid-template-columns: 1fr 25% 25% 1fr;
    grid-column-gap: 32px;

    h1, h2, h3 {
      grid-column: 2 / 4;
    }

    article {
      &:nth-of-type(1) {
        grid-column: 2 / 2;
      }

      &:nth-of-type(2) {
        grid-column: 3 / 3;
      }
    }

    form, input[type=submit] {
      grid-column: 2 / 4;
    }
  }

  fieldset {
    background-color: inherit;

    label {
      width: 20%;
    }

    select, input[type=text], input[type=number] {
      background-color: $white;
      border: 1px solid $grey-line;
      padding: 4px !important;
      width: 80%;
      border-radius: 4px;
      &:focus {
        outline: 1px solid $normal-blue;
      }
    }
    textarea:focus {
      outline: 1px solid $normal-blue;
    }
    input[type=radio] + label {
      background-color: $white;
    }
  }

  .field {
      border: none;
      background-color: inherit;
      margin-bottom: 8px !important;
      &.first {
        border: none;
      }
      &.second {
        border: none;
      }

      p {
        background-color: $white;
        border: 1px solid $grey-line;
        border-radius: 4px;
        padding: 4px !important;
      }
  }
  p.first {
    margin-bottom: 0 !important;
  }

  #confirm-radio {
    margin-bottom: 32px !important;
  }

  article.seperate {
    background-color: inherit;
  }
}

@media (min-width: 1600px) {
  main, .center-content, header {
    grid-template-columns: 1fr 40% 1fr;
  }
}
