.button {
  border: none;
  padding: 16px 24px;
  border-radius: 4px;
  color: #ffffff;
  background-color: $color-primary;
  transition: .3s;
  box-shadow: none;
  font-size: 1rem;
  margin-bottom: 1rem;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $color-primary-dark;
    cursor: pointer;
  }
  &:link {
    text-decoration: none;
  }
}
