article.seperate {
  background-color: $white;
  margin: 0 -18px;
  padding: 0 18px;
  margin-bottom: 32px;
}

.field {
  h4 {
    width: 30%;
    margin-right: 16px;
  }

  p {
    width: 70%;
  }
}

.not-white .field {
  background-color: inherit;

  input[type=radio]:not(:checked) + label {
    background-color: $white;
  }
}
