form {
  width: 100%;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 -18px;
  padding: 0 18px;
}

.fieldset {
  background-color: $secondary-background-color;

  &--radio-buttons {
    border-bottom: 1px solid $grey-line;
  }

  &--margin {
    margin-bottom: 32px;
  }

  &--standalone {
    border-bottom: 1px solid $grey-line;
    border-top: 1px solid $grey-line;
  }
}

input {
  &[type=submit] {
    border: none;
    padding: 16px 24px;
    border-radius: 4px;
    color: #ffffff;
    background-color: $color-primary;
    width: 100%;
    transition: .3s;
    box-shadow: none;
    -webkit-appearance: none;

    &:hover {
      background-color: $color-primary-dark;
      cursor: pointer;
    }

    &:disabled {
      background-color: $grey-line;
      cursor: not-allowed;
    }
  }

  &[type=radio] {
    margin-left: 8px;
  }
}

// input[type=number], input[type=text], input[type=email], input[type=password], input[type=url], textarea, select {
.input {
  border: none;
  background-color: transparent;
  border-radius: 0;
  padding: 16px 18px;
  width: 70%;
}

textarea {
  resize: none;
  border-radius: 4px;
  border: 1px solid $grey-line;
  background-color: $secondary-background-color;
  width: 100%;
  padding: 1rem;
}

label {
  margin: 6px 0;
  font-size: 1em;
  width: 30%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select, input, textarea {
  font-size: 1em;
  &:focus {
    // outline: none;
  }
}

select:hover, option:hover, input[type=radio] {
  cursor: pointer;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid $grey-line;
  background-color: $secondary-background-color;
  &--first {
    border-top: 1px solid $grey-line;
    margin: 0 -18px;
    padding: 0 18px;
    border-bottom: none;
  }
  &--second {
    border-top: 1px solid $grey-line;
  }
  &--last {
    margin: 0 -18px;
    padding: 0 18px;
  }
  &.after-title {
    border: none;
  }
  &.custom-field {
    border-top: 1px solid $grey-line;
    border-bottom: none;
  }
}

.radio-buttons {
  border-bottom: 1px solid $grey-line;

  p {
    padding-top: 12px;
  }

  &__container {
    padding-top: 10px;
    margin-bottom: 10px;

    input[type=radio] {
      display: none;

      &:checked + label {
        background-color: $color-primary;
        color: $secondary-background-color;
      }

      &:disabled + label {
        color: $text-disabled;
      }

      & + label:hover {
        cursor: pointer;
      }
    }
  }
}

#confirm-radio {
  border-top: 1px solid $grey-line;
}

.radio-label {
  width: 50%;
  text-align: center;
  padding: 6px;
  // margin-left: 0;
  color: $color-primary;
  border: 1px solid $color-primary;
  transition: .2s;
  &:nth-of-type(1) {
    border-radius: 4px 0 0 4px;
  }
  &:nth-of-type(2) {
    border-radius: 0 4px 4px 0;
  }
}

.error {
  border: 1px solid red !important;
}

@media (min-width: 800px) {
  fieldset {
    background-color: inherit;

    &.radio-buttons {
      border-bottom: none;
    }

    label {
      width: 20%;
    }

    .input {
      background-color: $secondary-background-color;
      border: 1px solid $grey-line;
      padding: 4px;
      width: 80%;
      border-radius: 4px;
      &:focus {
        outline: 1px solid $color-primary;
      }
    }
    textarea:focus {
      outline: 1px solid $color-primary;
    }
    input[type=radio] + label {
      background-color: $secondary-background-color;
    }
  }

  .fieldset {
    background-color: $background-color;

    &--standalone {
      border: none;
    }
  }

  .field {
      border: none;
      background-color: inherit;
      margin-bottom: 8px
  }

  #confirm-radio {
    border-top: none;
  }
}
