header {
  padding: 1px 16px;
  background-color: $secondary-background-color;
  border-bottom: 1px solid $grey-line;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    .page-heading {
      flex-grow: 1;
      margin: 0.5em;
    }

    img {
      width: 2em;
      height: 2em;
      &:hover {
        cursor: pointer;
      }
    }

    ul {
      transform: rotateY(90deg);
      list-style-type: none;
      position: absolute;
      background-color: $secondary-background-color;
      padding: 1em 2em 2em 2em;
      right: -55%;
      top: 0;
      min-width: 200px;
      max-width: 300px;
      width: 50%;
      text-align: right;
      height: 100%;
      margin: 0;
      border-left: 1px solid #bebebe;

      li {
        margin-bottom: 0.5em;
        font-size: 1em;

        &:nth-child(1) {
          margin-bottom: 1em;
          font-size: 1em;
        }
        &:nth-child(2) {
          font-size: 1.5em;
          font-weight: 600;
          margin-bottom: 0.8em;
        }

        img {
          width: 2em;
          height: 2em;
        }

        a {
          text-decoration: none;
          color: #000;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

@keyframes showmenu {
  from {
    right: -55%;
    // transform: scale(0);
    transform: rotateY(90deg);
  }
  to {
    right: -2px;
    // transform: scale(1);
    transform: rotateY(0deg);
  }
}

@keyframes hidemenu {
  from {
    right: -2px;
    transform: scale(1);
  }
  to {
    right: -55%;
    transform: scale(inherit);
  }
}

.show-menu {
  animation: .5s forwards showmenu;
}

.hide-menu {
  animation: .5s forwards hidemenu;
}

@media (min-width: 800px) {
  header {
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    grid-column-gap: 32px;
    padding: 16px;
    margin-bottom: 32px;

    nav {
      grid-column: 2 / 2;
    }

    nav .page-heading {
      margin: 0;
    }

    nav ul {
      padding: 2em;
    }
  }
}

@media (min-width: 1170px) {
  header {
    // grid-template-columns: 1fr 50% 1fr;

    nav {
      #open-menu, #close-menu {
        display: none;
      }

      ul {
        transform: scale(1);
        position: inherit;
        border-left: none;
        display: flex;
        flex-direction: row;
        width: auto;
        min-width: inherit;
        max-width: inherit;
        padding: 0;

        li {
          margin-left: 1em;
          margin-bottom: 0;

          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }
}
