input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'system-ui', sans-serif;
  width: 100%;
  background-color: $background-color;
  margin: 0;
}

.hidden {
  display: none !important; 
}

.error {
  border: 1px solid red !important;
}