$color-primary: #0076FF;
$color-primary-dark: #1B34B2;

$background-color: rgb(242, 241, 245);
$secondary-background-color: #fff;

$grey: rgb(190, 190, 190);
$normal-blue: rgb(0, 122, 255);

$text-disabled: rgb(162, 162, 167);
