<%- include('head', {page: page}) %>

<main class="center-content">
  <h1>Error!</h1>
  <p><%= error %></p>
  <a href="#" onclick="event.preventDefault(); window.history.back();">Go back</a>
</main>

<% include tail %>
