<% include head %>

<% include nav %>

<main>
  <section class="content">
    <h1><%= lang.account.login %></h1>

    <form action="/sign-in" method="post">
      <fieldset class="fieldset--margin">
        <div class="field field--first">
          <label for="email">E-mail</label>
          <input class="input" type="email" name="email" id="email" required>
        </div>

        <div class="field field--second field--last">
          <label for="password"><%= lang.account.password %></label>
          <input class="input" type="password" name="password" id="password" required>
        </div>
      </fieldset>

      <fieldset>
        <input type="submit" name="submit" id="submit">
      </fieldset>
    </form>

    <% if (config.allowRegister) { %>
      <p>Don't have an account? Register <a href="/register">here</a></p>
    <% } %>
  </section>
</main>

<script type="text/javascript">
  if (localStorage.getItem('sessionData')) localStorage.removeItem('sessionData')
</script>

<% include tail %>
