<% include head %>

<main>
  <h1><%= lang.account.login %></h1>

  <form id="login" action="/sign-in" method="post">
    <fieldset class="seperate">
      <div class="field first">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" required>
      </div>

      <div class="field second last">
        <label for="password"><%= lang.account.password %></label>
        <input type="password" name="password" id="password" required>
      </div>
    </fieldset>

    <fieldset class="seperate not-white">
      <input type="submit" name="submit" id="submit">
    </fieldset>
  </form>
</main>

<% include tail %>
