<% include head %>

<main id="statistics">
  <h2><%= lang.page.statistics.statistics_for %>: <%= loginStatus.name %></h2>

  <h3><%= lang.page.statistics.sail_usage %></h3>
  <svg id="sail-usage" class="datavis"></svg>

  <h3><%= lang.page.statistics.board_usage %></h3>
  <svg id="board-usage" class="datavis"></svg>

  <h3>Spots you visit the most</h3>
  <svg id="spot-visits" class="datavis"></svg>

  <a href="/all-stats" class="button-small center">All statisitcs</a>
</main>

<script src="js/d3.min.js"></script>
<script src="js/datavis.js"></script>

<% include tail %>
