@keyframes showmenu {
  from {
    right: -55%;
    // transform: rotateY(90deg);
  }
  to {
    right: -2px;
    // transform: rotateY(0deg);
  }
}

@keyframes hidemenu {
  from {
    right: -2px;
    // transform: scale(1);
  }
  to {
    right: -55%;
    // transform: scale(inherit);
  }
}

.show-menu {
  animation: .5s forwards showmenu;
}

.hide-menu {
  animation: .5s forwards hidemenu;
}