button, .button {
  background-color: $color-primary;
  color: #fff;
  border: none;
  transition: 0.2s;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    background-color: $color-primary-dark;
    cursor: pointer;
  }

  &--submit {
    padding: 16px 24px;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
  }

  &--medium {
    width: 50%;
    padding: 16px 24px;
    border-radius: 4px;
    font-size: 1rem;
    display: block;
  }

  &--small {
    width: auto;
    padding: 16px 24px;
    border-radius: 4px;
    font-size: 1rem;
  }

  &--large {
    width: 100%;
    padding: 16px 24px;
    border-radius: 4px;
    font-size: 1rem;
    display: block;
  }
}