form {
  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0 -18px 2rem -18px;
    padding: 0 18px;

    &:not(.submit-form) {
      // border-top: 1px solid $grey;
      // border-bottom: 1px solid $grey;
    }

    &.fieldset {
      &__textarea {
        label {
          margin-bottom: 1rem;
        }
      }
      &--no-margin {
        margin-bottom: 1rem;
      }
      &--transparent {
        background-color: transparent;
      }
    }

    .field {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-top: 1px solid $grey;

      &--first {
        border: none;
      }

      label {
        width: 30%;
        margin: 0.5rem 0;
      }

      input, select {
        width: 70%;
        font-size: 1rem;
        border: none;
        background-color: transparent;
        border-radius: 0;
        padding: 16px 18px;

        &:focus {
          outline-color: $color-primary;
        }
      }
    }

    .radio-container {
      display: flex;
      flex-direction: row;
      padding-bottom: 1rem;

      input[type=radio] {
        display: none;
  
        &:checked + label {
          background-color: $color-primary;
          color: $secondary-background-color;
        }
  
        &:disabled + label {
          color: $text-disabled;
        }
  
        & + label:hover {
          cursor: pointer;
        }
      }

      label {
        width: 50%;
        text-align: center;
        padding: 6px;
        color: $color-primary;
        border: 1px solid $color-primary;
        transition: .2s;

        &:nth-of-type(1) {
          border-radius: 4px 0 0 4px;
        }

        &:nth-of-type(2) {
          border-radius: 0 4px 4px 0;
        }
      }
    }

    textarea {
      width: 100%;
      resize: none;
      border-radius: 4px;
      border: 1px solid $grey;
      background-color: $secondary-background-color;
      padding: 1rem;
      font-size: 1rem;
      font-family: 'system-ui', sans-serif;

      &:focus {
        outline-color: $color-primary;
        
      }
    }
  }
}