header {
  background-color: $secondary-background-color;
  padding: 1rem;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
      margin: 0;
      flex-grow: 1;
    }

    img {
      width: 2em;
      height: 2em;
      &:hover {
        cursor: pointer;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      position: fixed;
      background-color: $secondary-background-color;
      padding: 1em 2em 2em 2em;
      right: -55%;
      top: 0;
      min-width: 200px;
      max-width: 300px;
      width: 50%;
      text-align: right;
      height: 100%;
      margin: 0;
      z-index: 1000;

      li {
        &:nth-child(2) {
          font-size: 1.5em;
          font-weight: 600;
          margin: 0.8rem 0;
        }

        a {
          text-decoration: none;
          color: #000;
          transition: 0.2s;

          &:hover, &:active {
            color: $color-primary;
          }
        }
      }
    }

    @media (min-width: 767px) {
      #open-menu, #close-menu {
        display: none;
      }

      ul {
        position: inherit;
        display: flex;
        flex-direction: row;
        width: auto;
        min-width: inherit;
        max-width: inherit;
        padding: 0;

        li {
          margin-left: 1rem;

          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }
}