main {
  padding: 1rem;

  @media (min-width: $breakpoint-small) {
    padding: 1rem 3rem;
  }
}

.main--small {
  @media (min-width: $breakpoint-small) {
    width: 50%;
    margin: 0 auto;
  }
}

.main--medium {
  @media(min-width: $breakpoint-small) {
    
  }
}
